* {
  box-sizing: border-box;
}
body,
h1,
p {
  margin: 0;
}
button {
  border: 0;
  background-color: transparent;
}

.container {
  padding: 12px 16px;
}

#main{
  background: url('/img/main.png')
}
#web-view {
  width: 375px;
  min-height: 100vh;
  background-color: white;
  position: relative;
  left: 55%;
}
@media screen and (max-width: 764px) {
  #web-view {
    position:static;
    left: auto;
    margin: auto;
  }
  #main{
    background: none;
    background-color: #EAF4FF;
  }
}
@media screen and (max-width: 375px) {
  #web-view {
    width: 100%;
  }
}

/* common-text-style */
@font-face {
  font-family: "SUIT-Regular";
  src: url("./fonts/SUIT-Regular.otf") format("truetype");
}
body, textarea {
  font-family: "SUIT-Regular";
}
.bold-text {
  font-weight: bold;
}
.semi-bold-text {
  font-weight: 600;
}
.light-text {
  font-weight: 300;
}

.letter-spacing8 {
  letter-spacing: -2px;
}
.letter-spacing2 {
  letter-spacing: -1px;
}

.text36 {
  font-size: 36px;
}
.text28 {
  font-size: 28px;
}
.text24 {
  font-size: 24px;
}
.text18 {
  font-size: 18px;
}
.text16 {
  font-size: 16px;
}
.text14 {
  font-size: 14px;
}
.text12 {
  font-size: 12px;
}